.App {
  .slider-container-container {
    width: 100%;
    // outline: 2px solid green;
    display: flex;
    // align-items: center;
    justify-content: center;

    .slider-container {
      // outline: 2px solid red;
      width: 80%;

      .indicator {
        text-decoration: none;
        list-style: none;
        width: 20px;
        height: 5px;
        background: royalblue;
      }

      .indicator-icon {
        display: none;
        list-style: none;
      }

      .card-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .deal-card-container {
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}




// .slick-dots li {
//   &.slick-active {
//     .dots {
//       background: #091431;
//       // width: 40px;
//       // height: 8px;
//     }
//   }

//   .dots {
//     width: 20px;
//     height: 8px;
//     border-radius: 5px;
//     background: red;

//   }
// }

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 20px;
  height: 8px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.25s ease-in-out;
  will-change: width;
  background: #d9d9d9;

}

.slick-dots.slick-thumb li.slick-active {
  background-color: #091431;
  width: 40px;
}